<div class="navBar">
    <div id="logo"><a routerLink="/bank-of-ideas"><img src="../../../assets/64px-Icons8_flat_idea.svg.png" alt=""></a></div>
    <div id="heading"><a routerLink="/bank-of-ideas">БАНК ИДЕЙ</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">{{userEmail}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Выйти</a>
    </span>
  </div>
</div>
