<div class="container" >
  <div class="card mx-auto col-10 shadow p-3 mb-5 bg-white rounded" >
    <ngb-tabset>
      <ngb-tab title="Мои идеи">
        <ng-template ngbTabContent>
          <ng-container *ngFor="let idea of feed | async">
            <div *ngIf="idea.email==onlineUserEmail">
              <app-idea-item [ideaItem]="idea"></app-idea-item>
            </div>
          </ng-container>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngFor="let tab of tabs" [title]="tab">  
        <ng-template ngbTabContent>
          <ng-container *ngFor="let idea of feed | async">
            <div *ngIf="idea.topic==tab">
              <app-idea-item [ideaItem]="idea"></app-idea-item>
            </div>
          </ng-container>
        </ng-template>
      </ngb-tab>  
    </ngb-tabset>
  </div>
</div>
