<div class="container">
  <div class="card mx-auto p-3 mb-1 mt-2 rounded" [ngClass]="{'isOwnIdeaContainer':isOwnIdea}">
    <div class="row align-items-center">
      <div class="col">
        <span class="sender" [ngClass]="{'isOwnSender':isOwnIdea}">
          {{ userName }}
        </span>
        <br>
        <span class="timestamp" [ngClass] = "{'isOwnSender':isOwnIdea}">
          {{ timeStamp }}
        </span>
        <div class="row" *ngIf="!isOwnIdea">
          <div class="col">
            <button type="button" (click)="onLikeButton(ideaItem); likeButtonPressed = !likeButtonPressed" class="btn btn-outline-warning active">like - {{ likes }}</button>
          </div>
          <div class="col">
            <button type="button" *ngIf="!likeButtonPressed" (click)="onDislikeButton(ideaItem)" class="btn btn-outline-danger active">dislike - {{ dislikes }}</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h5 [ngClass] = "{'isOwnSender':isOwnIdea}">{{ ideaTitle }}</h5>
        <p [ngClass] = "{'isOwnSender':isOwnIdea}">{{ ideaDescription }}</p>
      </div>
      <div class="col">
        <button type="button" (click)="editIdea($event, ideaItem)" *ngIf="isOwnIdea" class="btn btn-outline-warning">Редактировать</button>
      </div>
    
    <div class="row" *ngIf="editState && ideaToEdit.id === ideaItem.id">
        <form (ngSubmit)="updateIdea(ideaItem)">
            <div class="form-group">
                <label for="exampleFormControlInput1">Идея</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="О чем твоя идея?"
                [(ngModel)]="ideaTitle" name="title">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">На какую тему?</label>
                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="ideaTopic" name="topic">
                  <option></option>
                  <option>Frontend</option>
                  <option>Scala</option>
                  <option>QA Automation</option>
                  <option>Risks</option>
                  <option>Android</option>
                  <option>iOS</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Подробное описание</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="ideaDescription" name="description"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Исправить</button>
              <button class="btn btn-primary" (click)="deleteIdea($event, ideaItem)"><span class="glyphicon glyphicon-trash"></span>удалить</button>
        </form>
    </div>
  </div>
</div>
